.navbar {
    background-color: #014F86;
  }
  .btn {
    background-color: #a9d6e5;
    border-color: #a9d6e5;
    color: white;
  }
  .headline{
    background-color:  #e7ecef;
  }
  footer{
    background-color: #014F86;
  }